table{
  width: 100%;
}

.wrapper{

  padding: 50px 50px;
  height: 100vh;
  box-sizing: border-box;
  background: url('../../../assets/bg_pic.jpg');
  background-size: 100% 100%;

  .header{
    padding: 12px;

    .left{
      float: left;
    }
    .right{
      float: right;
    }
  }

  .action-buttons{
    text-align: right;
  }
}
